@import "variables";
@import "buttons";


body {
  padding: 0;
  margin: 0;
  height: 100vh;
}

.main-app-wrap {
  display: flex;
  height: 100%;
  flex-direction: column;

  header {
    display: flex;
    align-content: center;
    justify-content: center;
    color:#fff;
    background: #f14e4e;
  }
  footer {
    height: 70px;
    background: #313b5e;
    color: #fff;
    display: flex;
    align-content: center;
    justify-content: center;
  }
  .main-app {
    overflow: auto;
    padding: 10px;
    flex:1;
    height: 100%;
    & .tour-wrap {
      display: flex;
      flex-wrap: wrap;

      & .tour-pic {
        width: 100%;
        height: 140px;
      }


      & > div {
        flex-direction: column;
        display: flex;
        width: 260px;
        height: 400px;
        padding: 4px;
        border: 1px solid grey;
        margin: 4px;
        &:hover {
          cursor: pointer;
        }

        &>div.ticket-description {
          flex: 1;
          height: 155px;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
    }
  }


}

.modal-element {
  color: $modal-text-color;
  background-color: $modal-background;
  height: 360px;
  width: 300px;
  position: fixed;
  box-shadow: 1px 1px 1px 2px #d7c7c7;
  top: 50%;
  left: 50%;
  padding: 6px;
  transform: translateY(-50%) translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;

  & .close-modal {
    position: absolute;
    top: 0;
    margin: 0;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: bold;
    right: 3px;
  }
  & .ticket-submit {
    height: 45px;

  }
}

