$font-stack:    Helvetica, sans-serif;
$primary-color: #333;
$modal-background: #e4e9e7;
$modal-order-background: #88eac0;
$modal-text-color: #292d2c;
$modal-border: 2px solid grey;
$header-height: 60px;
$header-background: #e39f67;
$footer-height: 60px;
$footer-background: #0a0500;